.gt-innerContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding-top: 150px;
    padding-bottom: 50px;
}

.test-locations {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

#gtheading-txt {
    color: #FAEBD7;
}

.gt-locationSelect {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    .gt-locationSelect {
        flex-direction: column;
        gap: 15px;
    }

    #city-input {
        margin-left: 0;
    }
}


