
.stats {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.cases {
    display: flex;
    flex-direction: column;
}

#deaths-txt {
    color: crimson;
}

#recovered-txt {
    color: #32CD32;
}

@media only screen and (max-width: 520px) {
    .stats {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .stats-innerContainer {
        padding-top: 100px;
    }
}